* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --color-primary: #8698f8;
  --color-light: #fafafb;
  --color-gray: #ced1d8;
  --color-dark: #333333;
  --color-accent: #ff6600;
  --color-blue: #2f63ff;
}

body {
  background: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.camera {
  width: 370px;
  height: 640px;
  background: var(--color-gray);
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.card {
  width: 290px;
  background: var(--color-light);
  margin: 20px auto;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
}

.card-top {
  display: flex;
  gap: 12px;
  align-items: center;
}

.icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #edf2ff;
  color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.card h2 {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.card p {
  color: #777;
  font-size: 14px;
  line-height: 1.3;
}

.btn {
  width: 100%;
  height: 36px;
  margin-top: 14px;
  border-radius: 10px;
  background: var(--color-blue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #1f4fe0;
}

.scan-box {
  width: 260px;
  height: 260px;
  border: 2px dashed #9baeff;
  border-radius: 10px;
  margin: 30px auto 0;
  opacity: 0.7;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: black;
  color: white;
  padding-top: 14px;
}

.modes {
  display: flex;
  justify-content: center;
  gap: 22px;
  font-size: 10px;
  margin-bottom: 22px;
}

.modes h2 {
  color: #9d9d9d;
}

.modes .active {
  color: #f5b400;
  font-weight: bold;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.small-btn {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.capture {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border: 5px solid #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.capture::after {
  content: "";
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: linear-gradient(#efefef, #bfbfbf);
  display: block;
}

.rotate {
  font-size: 30px;
  color: white;
  text-decoration: none;
}